.app-footer {
    border-top: 1px solid $clr11;
    gap: 1em;
    background-color: $clr3;
    padding: 1em 0;

    .logo-img {
        width: 5em;
    }

    .social-list {
        gap: 1.5em;

        & li a svg{
            color: $clr3;
            background-color: $clr6;
            padding: 0.5em;
            width: 1.4em;
            height: 1.4em;
            border-radius: 5em;
        }
    }
}