.toy-details {
    background-color: $clr3;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, 480px) minmax(auto, 480px) minmax(2rem, 1fr);

    img {
        grid-column: 2;
        max-width: 300px;
        align-self: flex-start;
        justify-self: flex-end;
    }

    .details-container{
        font-size: 1.3em;
        align-self: center;
        justify-self: flex-start;
        background-color: $clr3;
        display: flex;
        flex-direction: column;
        gap: 1em;
        &>*{
            // margin-bottom: 10px;
        }
        .in::after{
            content: '✅';
        }
        
        .out::after{
            content: '❌';
        }
    }
}

.toy-reviews {
    background-color: $clr3;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, 480px) minmax(2rem, 1fr);
    gap: 2em;
    li {
        grid-column: 2;
        display: grid;
        grid-template-rows: 10 10% 1fr;
        gap: 1em;
        background-color: $clr2;
        padding: 1em;

        h4{
            background-color: darken($clr2, 8%);
            font-size: 1.5em;
            padding: 5px;
        }
    }
    
}