.toy-filter {

    .inputs >*{
        margin: 10px;
    }

    input {
        border: none;
        background-color: $clr3;
        padding: 10px;
        font-size: 00.8em;
        border-radius: 30px;
        width: 100%;
    }
}