.about {
    margin: 1em;
    text-align: center;
    font-size: 1.3em;
    &>* {
        grid-column: 2;
        justify-self: center;
        margin: 10px 0;
    }

    .accordion-group {
        background-color: $clr3;
        padding: 10px;
    }

    .accordion-item {
        background-color: $clr4;

    }
}