.home-page {
    margin: 1em;
    text-align: center;
    font-size: 1.3em;
    &>* {
        grid-column: 2;
        justify-self: center;
        margin: 10px 0;
    }

    a {
        color: $clr4;
    }

}